<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">ZESPER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" [hidden]="!authenticated">
        <li routerLinkActive="active" [routerLink]="['overview']"
            [routerLinkActiveOptions]="{exact: true}">
          <a>Übersicht</a>
        </li>
        <li routerLinkActive="active" [routerLink]="['order']" *ngIf="areOrdersAllowed">
          <a>Bestellen</a>
        </li>
        <li routerLinkActive="active" [routerLink]="['admin']" *ngIf="authenticated && isAdmin"><a>Admin</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right" *ngIf="authenticated">
        <li><a (click)="signout()">Abmelden</a></li>
      </div>
      <ul class="nav navbar-nav navbar-right" *ngIf="!authenticated">
        <li class="dropdown" zedropdown>
          <a class="dropdown-toggle"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">Anmelden<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['signup']">Registrieren</a></li>
            <li><a [routerLink]="['signin']">Anmelden</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
