<div class="row">
  <div class="col-xs-12">
    <h3>Diese Woche gibt es: {{mealName}}</h3>
    <form [formGroup]="orderForm" (ngSubmit)="onOrder()">
      <div>
        <div formArrayName="foods">
          <div class="form-group"
               *ngFor="let food of orderForm.controls['foods'].controls; let i = index">
            <label htmlFor="id-{{foods[i].name}}">Anzahl {{foods[i].name}}:</label>
            <input type="number"
                   class="form-control"
                   id="id-{{foods[i].name}}"
                   formControlName="{{i}}"
                   (keyup)="onOrderInputChange()">
          </div>
        </div>
        <div class="form-group">
          <p class="bg-info">Voraussichtliche Kosten: {{this.order.totalCost | currency:'EUR':true}}  </p>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!orderForm.valid">Submit</button>
        <button class="btn btn-danger" [disabled]="!storedOrder" (click)="deleteOrder()">Bestellung stornieren</button>
      </div>
    </form>
  </div>
</div>
