<div class="row">
  <div class="col-xs-12">
    <h2>Login</h2>
    <form [formGroup]="signinForm" (ngSubmit)="signin()">
      <div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text"
                 class="form-control"
                 id="email"
                 formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Passwort:</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!signinForm.valid">Anmelden</button>
      </div>
    </form>
  </div>
  <div class="col-xs-12" *ngIf="error">
    <br>
    <div class="bg-danger">
      <p>{{error}}</p>
    </div>
  </div>
</div>
