<div class="row">
  <div class="col-xs-12">
    <h2>Login</h2>
    <form [formGroup]="signinForm" (ngSubmit)="signin()">
      <div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text"
                 class="form-control"
                 id="email"
                 formControlName="email">
          <div *ngIf="signinForm.controls['email'].invalid && signinForm.controls['email'].touched" class="alert alert-danger">Ungültige Email Adresse</div>
        </div>
        <div class="form-group">
          <label for="password">Passwort:</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 formControlName="password">
          <div *ngIf="signinForm.controls['password'].invalid && signinForm.controls['password'].touched" class="alert alert-danger">Passwort ist ein Pflichtfeld</div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!signinForm.valid">Anmelden</button>
      </div>
    </form>
  </div>
  <div class="col-xs-12" *ngIf="error">
    <br>
    <div class="alert alert-danger">
      {{error}}
    </div>
  </div>
</div>
